version: "3.4"
  
services:
  web:
    image: blinkylite/empty-node-red:amd64
    container_name: empty-node-red-01
    ports:
      - "60427:60427"
    volumes:
      - empty-node-red-01:/data
    environment:
      - NODEREDPORT=60427
      - ENABLE_NODERED_EDITOR=1
      - NODE_RED_TITLE=empty-node-red-01
      - HTMLSTATICDIR=/data/html-static/
volumes:
  empty-node-red-01:
    driver: local  
networks:
  default:
    name: tunnel
    external: true
